.container{
    display: flex;
    height: 250px;
    padding: 20px;
    background-color: #30302e;
    margin: 5px;
}
.card{
    background-color: #8cc9e4;
    color: #30302e;
    padding: 20px;
    margin: 5px;
    height: 100px;
    width: 100px;
}
.row-center{
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.column-left{
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}
.row-space-between{
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.row-space-around{
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}
.flex-wrap{
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
.cardMaior{
    width: 100px;
}